<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Chart</title>
</head>
<body>
    <h1>Inventory Chart</h1>
    <img src="data:image/png;base64,{{ chart_url }}" alt="Chart">
    <br><br>
    <a href="/inventory">Back to Inventory</a>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Chart</title>
</head>
<body>
    <h1>Inventory Chart</h1>
    <h3>Product Categories</h3>
    <img src="data:image/png;base64,{{ chart_url_1 }}" alt="Product Categories Chart">
    <br><br>
    <a href="/inventory">Back to Inventory</a>
</body>
</html>
